h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p, li {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    border: 1px solid #555;
    height: auto; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

nav li {
    text-align: center;
    border-bottom: 1px solid #555;
}

nav li:last-child {
    border-bottom: none;
  }

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
    color: white;
}

section {
    padding-left: 17%;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f1f1f1;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    width: 90%;
}

hr {
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 40px;
}

@media (max-width: 1600px) {

    li h1 {
        font-size: 17px;
    }

    nav ul {
        width: 16%;
        height: 100%; /* Full height */
    }
    
    nav li {
        text-align: left;
    }
    
    nav li a {
        padding: 4px 8px;
    }

    code {
        width: 80%;
    }
}

@media (max-width: 950px) {

    nav {
        display: none;
    }

    section {
        padding-left: 0px;
    }

    code {
        margin: 0px;
        padding: 3px;
    }
}

